<div class="container loader">
    <div class="row">
        <div class="wrapper">
            <!-- <section class="section">
                <div class="section-title">
                    <span>NIFTY</span>
                    <h2>NIFTY</h2>
                    <p>The NIFTY 50 is an index that represents the weighted average of 50 of the largest Indian
                        companies listed on the National Stock Exchange.</p>
                    <br>
                    <strong>Please wait while connecting to the broadcast hub. This may take up to 10 seconds.</strong>
                    <p>(Limited connections allowed)</p>
                </div>
            </section> -->

            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
</div>